<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656445648616-p3kf333ku87te2f80jclfmkh0m7o0ror.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656445648616-p3kf333ku87te2f80jclfmkh0m7o0ror</string>
	<key>API_KEY</key>
	<string>AIzaSyDUKSjsWRIwK4qCYEIqyn9wV9Lw4ctTGWs</string>
	<key>GCM_SENDER_ID</key>
	<string>656445648616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.goair</string>
	<key>PROJECT_ID</key>
	<string>goair-31f70</string>
	<key>STORAGE_BUCKET</key>
	<string>goair-31f70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656445648616:ios:0be8d4f3b214df67c6235d</string>
</dict>
</plist>